/* Estilos generales */
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  grid-template-areas: 
    'nav contenido contenido'
    'nav contenido contenido'
    'nav contenido contenido'
    'nav footer footer';
}

.contenido{
  grid-area: contenido;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.imagen-perfil{
  width: fit-content;
}

.imagen-perfil img{
  width: 200px;
  margin-right: 50px;
}

.presentacion{
  width: 50%;
}


/* Navegación */
.nav img{
  width: 40px;
}

.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 100%;
  position: fixed;
  background-color: rgb(206, 203, 203);
}

.menu{
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 10px;
  list-style: none;
}

.menu li{
  padding: 10px;
  transition: all 300ms;
}

.menu li:hover{
  background-color: #0f5406;
  border-radius: 50%;
}


/* Footer */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 15px;
  color: white;
}

.redes{
  display: flex;
  gap: 50px;
}






















